@font-face {
    font-family: "young";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    max-width:500px;
    margin: 50px;
    background-color: white;
    padding: 20px;
    overflow: hidden;
    font-family: Outfit, sans-serif;
    color:hsl(30, 10%, 34%);
}
.img{
    align-self: center;
    margin: 5px;
}
.img img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}
.title{
    margin-bottom: 10px;
    padding: 10px;
}
.title h1{
    font-family: "young";
    font-weight: 500;
    font-size: 30px;
    color:black;
}
.title p{
    font-size: 14px;
    padding-top:5px;
    font-weight: 400;
}
.time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    margin: 5px;
    align-self: center;
    height: 100%;
    box-sizing: border-box;
}
.time h4{
    display: inline-block;
    padding: 5px;
    color: hsl(30, 10%, 34%);
    font-size: 14px;
}
.time h2{
    font-size: 16px;
    color:hsl(332, 51%, 32%);
    padding-top: 5px;
    padding-bottom: 5px;
}
.time ul li{
    font-size: 14px;
}
ul, ol {
list-style-position: inside;
}
 ul::marker{
    color:hsl(24, 5%, 18%);
}
.ingredients{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}
.ingredients h2{
    font-family: "young";
    font-weight: 500;
    font-size: 20px;
    color:hsl(14, 45%, 36%);
    padding-bottom: 10px;
}
.ingredients ul li{
    font-size: 13px;
    padding: 4px;
}
hr {
  border: none;           /* Removes default border */
  height: 1px;            /* Sets thickness */
  background: hsl(30, 18%, 87%);    /* Sets color */
  width: 95%; 
  align-self: center;            /* Sets width */
  border-radius: 4px;     /* Rounds the edges */
}
.instructions{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}
.instructions h2{
    font-family: "young";
    font-weight: 500;
    font-size: 20px;
    color:hsl(14, 45%, 36%);
    padding-bottom: 10px;
}
.instructions h4{
    display: inline-block;
    font-size: 13px;
    color: hsl(30, 10%, 34%);
}
.instructions ol{
    list-style-position: outside;
    padding: 5px;
    
}
.instructions ol li{
    font-size: 12px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}
ol li::marker{
    color:hsl(14, 45%, 36%);
    font-weight: 700;
}
.nutrition{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}
.nutrition h2{
    font-family: "young";
    font-weight: 500;
    color:hsl(14, 45%, 36%);
    font-size: 20px;
    padding-bottom: 10px;
}
.nutrition p{
    font-size: 12px;
    padding-bottom: 5px;
}
.nutrition table{
    text-align: left;
    width: 100%;
}
.nutrition th{
    font-size: 12px;
    padding: 5px;
    font-weight: 500;
}
.nutrition td{
    font-size: 14px;
    font-weight: 500;
    color:hsl(14, 45%, 36%);
}
th, td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 8px;

}
@media (max-width:375px){
    body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: white;
    }
    main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:300px;
    background-color: white;
    border-radius: 0px;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    font-family: Outfit, sans-serif;
    color:hsl(30, 10%, 34%);
}
.img{
    align-self: center;
    margin: 0px;
}
.img img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0px;
    object-fit: fill;
}
.instructions ol li{
    font-size: 14px;
}
}